@using SFA.DAS.DigitalCertificates.Web.Models.Sharing
@model PageViewModel

@if (!string.IsNullOrWhiteSpace(Model.BackUrl))
{
    <div class="faa-js-back-link-history">
        <a href="@Model.BackUrl" class="govuk-back-link">Back</a>
    </div>
}