@model string

<div class="govuk-notification-banner govuk-notification-banner--success"
     role="alert"
     aria-labelledby="certificate-success-banner-title"
     data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="certificate-success-banner-title">
            Success
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
            @Model
        </h3>
    </div>
</div>