@using SFA.DAS.DigitalCertificates.Web.Controllers;
@using SFA.DAS.DigitalCertificates.Web.ViewDataKeys
@{
    var showServiceNavigation = !bool.TryParse(ViewData[ViewDataKeys.HideServiceNavigation]?.ToString(), 
        out bool hideServiceNavigation) || !hideServiceNavigation;
}
<header class="rebranded-cross-service-header dfe-branding" data-module="one-login-header">
    <div class="rebranded-one-login-header" data-one-login-header-nav>
        <div class="rebranded-one-login-header__container govuk-width-container">
            <div class="rebranded-one-login-header__logo">
                <a asp-external-controller=""
                   class="rebranded-one-login-header__link rebranded-one-login-header__link--homepage das-header__dfe-logo-link">
                    <img src="/images/department-for-education_white.png"
                         alt="Department for Education"
                         class="das-header__dfe-logo" />
                </a>
            </div>
            @if (User!.Identity!.IsAuthenticated)
            {
                <nav aria-label="GOV.UK OneLogin"
                     class="rebranded-one-login-header__nav"
                     data-open-class="rebranded-one-login-header__nav--open"
                     id="one-login-header__nav">
                    <ul class="rebranded-one-login-header__nav__list">
                        <li class="rebranded-one-login-header__nav__list-item das-header__nav__list-item">
                            <a class="rebranded-one-login-header__nav__link" asp-route="@ServiceController.SigningOutRouteGet">
                                <span class="rebranded-one-login-header__nav__link-content das-header__nav__link-content">Sign out</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            }
        </div>
    </div>
    @if (showServiceNavigation)
    {
        <partial name="_ServiceNavigation" />
    }
</header>