@using Microsoft.Extensions.Options
@using SFA.DAS.DigitalCertificates.Infrastructure.Configuration
@using SFA.DAS.DigitalCertificates.Web.Controllers;
@using SFA.DAS.DigitalCertificates.Web.ViewDataKeys
@inject IOptions<DigitalCertificatesWebConfiguration> Config
@{
    var showServiceNavigation = !bool.TryParse(ViewData[ViewDataKeys.HideServiceNavigation]?.ToString(), 
        out bool hideServiceNavigation) || !hideServiceNavigation;
}
<header class="rebranded-cross-service-header dfe-branding" data-module="one-login-header">
    <div class="rebranded-one-login-header" data-one-login-header-nav>
        <div class="rebranded-one-login-header__container govuk-width-container">
            <div class="rebranded-one-login-header__logo">
                <a asp-external-controller=""
                   class="rebranded-one-login-header__link rebranded-one-login-header__link--homepage das-header__dfe-logo-link">
                    <img src="/images/department-for-education_white.png"
                         alt="Department for Education"
                         class="das-header__dfe-logo" />
                </a>
            </div>
            @if (User!.Identity!.IsAuthenticated)
            {
                <nav aria-label="GOV.UK One Login"
                 class="rebranded-one-login-header__nav"
                 data-open-class="rebranded-one-login-header__nav--open"
                 id="one-login-header__nav">
                <ul class="rebranded-one-login-header__nav__list">
                    <li class="rebranded-one-login-header__nav__list-item das-header__nav__list-item">
                            <a class="rebranded-one-login-header__nav__link mu-signin" href="@Config.Value.OneLoginSettingsUrl">
                            <span class="rebranded-one-login-header__nav__link-content">
                                <svg focusable="false"
                                     xmlns="http://www.w3.org/2000/svg"
                                     width="15"
                                     height="30"
                                     viewBox="150 150 250 250"
                                     fill="currentcolor"
                                     class="rebranded-cross-service-header__logo rebranded-cross-service-header__logo--nav"
                                     aria-hidden="true">
                                    <path d="M300.002 312.261C249.445 312.261 208.346 271.165 208.346 220.608C208.346 170.051 249.445 128.954 300.002 128.954C350.559 128.954 391.655 170.051 391.655 220.608C391.655 271.165 350.559 312.261 300.002 312.261ZM300.002 170.892C272.673 170.892 250.389 193.175 250.389 220.504C250.389 247.83 272.673 270.113 300.002 270.113C327.33 270.113 349.611 247.83 349.611 220.504C349.611 193.175 327.33 170.892 300.002 170.892Z" />
                                    <path d="M221.275 471.046H179.231V365.202H420.769V407.246H221.275V471.046Z" />
                                </svg>
                                GOV.UK One Login
                            </span>
                        </a>
                    </li>   
                    <li class="rebranded-one-login-header__nav__list-item das-header__nav__list-item">
                        <a class="rebranded-one-login-header__nav__link" asp-route="@ServiceController.SigningOutRouteGet">
                            <span class="rebranded-one-login-header__nav__link-content das-header__nav__link-content">Sign out</span>
                        </a>
                    </li>
                </ul>
            </nav>
            }
        </div>
    </div>
    @if (showServiceNavigation)
    {
        <partial name="_ServiceNavigation" />
    }
</header>