@using SFA.DAS.DigitalCertificates.Web.ViewDataKeys
@if (User!.Identity!.IsAuthenticated)
{
    <section aria-label="Service information" class="govuk-service-navigation das-header__navigation">
        <div class="govuk-width-container">
            <div class="govuk-service-navigation__container das-header__navigation__container">
                <div class="das-header__service-user-name-wrap">
                    <span class="govuk-service-navigation__service-name">
                        <span class="govuk-service-navigation__text">@ViewData[ViewDataKeys.ServiceName]</span>
                    </span>
                    <p class="das-header__user-name">@User!.Identity!.Name</p>
                </div>
            </div>
        </div>
    </section>
}
