@using SFA.DAS.DigitalCertificates.Web.ViewDataKeys
@model ErrorViewModel
@{
    ViewData[ViewDataKeys.Title] = "Sorry";
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Sorry, this service is in testing</h1>
                <p class="govuk-body">You'll be able to use the service from 9am on Monday 9 September 2026.</p>
            </div>
        </div>
    </main>
</div>