@using SFA.DAS.DigitalCertificates.Web.Models.Sharing
@model PageViewModel

@await Html.PartialAsync("_BackLink", Model)

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Accessibility statement for Apprenticeship certificates
        </h1>

        <p class="govuk-body">
            This accessibility statement applies to the Apprenticeship certificates service.
        </p>
      
        <p class="govuk-body">
            This website is run by the Department for Education. We want as many people as possible to be able to use this website. For example, that means you should be able to:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>change colours, contrast levels and fonts using browser or device settings</li>
            <li>zoom in up to 400% without the text spilling off the screen</li>
            <li>navigate most of the website using a keyboard or speech recognition software</li>
            <li>
                listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)
            </li>
        </ul>

        <p class="govuk-body">
            We've also made the website text as simple as possible to understand.
        </p>

        <p class="govuk-body">
            <a href="https://mcmw.abilitynet.org.uk/" class="govuk-link" rel="external">
                AbilityNet
            </a>
            has advice on making your device easier to use if you have a disability.
        </p>

        <h2 class="govuk-heading-l">
            How accessible this website is
        </h2>
      
        <p class="govuk-body">
            We know some parts of this website are not fully accessible:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>The “skip to content” link does not work on some pages</li>
            <li>There is no navigation bar so users must use Back buttons to return to earlier pages</li>
            <li>Some input fields are not clearly labelled for screen reader users</li>
            <li>Some lists and headings are not tagged correctly</li>
            <li>Not all pages have a unique title element</li>
        </ul>

        <h2 class="govuk-heading-l">
            Feedback and contact information
        </h2>

        <p class="govuk-body">
            If you find any problems not listed on this page or think we're not meeting accessibility requirements, contact:
        </p>
        <p class="govuk-body">
            Email <a class="govuk-link" href="mailto:helpdesk@manage-apprenticeships.service.gov.uk">helpdesk@manage-apprenticeships.service.gov.uk</a>
        </p>

        <p class="govuk-body">
            Call <a class="govuk-link" href="tel:08000150600">08000 150 600</a>
        </p>

         <p class="govuk-body">
            If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille:
        </p>

        <p class="govuk-body">
            Email <a class="govuk-link" href="mailto:helpdesk@manage-apprenticeships.service.gov.uk">helpdesk@manage-apprenticeships.service.gov.uk</a>
        </p>

        <p class="govuk-body">
            Call <a class="govuk-link" href="tel:08000150600">08000 150 600</a>
        </p>
        
        <p class="govuk-body">
            We'll consider your request and get back to you in 5 days.
        </p>
        

        <h2 class="govuk-heading-l">
            Reporting accessibility problems with this website
        </h2>

        <p class="govuk-body">
            We're always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we're not meeting accessibility requirements, contact:
        </p>

        <p class="govuk-body">
            Email <a class="govuk-link" href="mailto:helpdesk@manage-apprenticeships.service.gov.uk">helpdesk@manage-apprenticeships.service.gov.uk</a>
        </p>

        <p class="govuk-body">
            Call <a class="govuk-link" href="tel:08000150600">08000 150 600</a>
        </p>

        <h2 class="govuk-heading-l">
            Enforcement procedure
        </h2>
        <p class="govuk-body">
            The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies
            (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations').
        </p>

        <p class="govuk-body">
            If you're not happy with how we respond to your complaint, contact the
            <a class="govuk-link" href="https://www.equalityadvisoryservice.com/" rel="external">
                Equality Advisory and Support Service (EASS)
            </a>.
        </p>

        <h2 class="govuk-heading-l">
            Technical information about this website's accessibility
        </h2>
        <p class="govuk-body">
            The Department for Education is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
        </p>

        <h2 class="govuk-heading-l">
            Compliance status
        </h2>
        <p class="govuk-body">
            The website has been tested against the Web Content Accessibility Guidelines (WCAG) 2.2 AA standard.
        </p>

        <p class="govuk-body">
            This website is partially compliant with the
            <a class="govuk-link" href="https://www.w3.org/TR/WCAG22/" rel="external">
                Web Content Accessibility Guidelines version 2.2
            </a>
            AA standard, due to the non-compliances listed below.
        </p>

        <h2 class="govuk-heading-l">
            Non-accessible content
        </h2>

        <p class="govuk-body">
            The content listed below is non-accessible for the following reasons.
        </p>

        <h3 class="govuk-heading-m">
            Non-compliance with the accessibility regulations
        </h3>

        <p class="govuk-body">
            We aim to resolve all accessibility issues identified in this statement within 6 months of the review date listed. Where this is not possible, we will share an updated timeline in this statement.
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>The skip link does not always allow users to bypass the navigation elements</li>
            <li>There is no in-site navigation, so users must use Back buttons to return to earlier pages</li>
            <li>Some input fields do not have their labels correctly associated</li>
            <li>Some headings and lists are not correctly defined</li>
            <li>Page titles are not all unique and descriptive</li>
            <li>Error messages are not always correctly associated to the input fields</li>
        </ul>        

        <h3 class="govuk-heading-m">
            Disproportionate burden
        </h3>

        <p class="govuk-body">
            We have determined that there is no disproportionate burden to meet all the requirements.
        </p>
       

        <h2 class="govuk-heading-l">
            Preparation of this accessibility statement
        </h2>

        <p class="govuk-body">
            This statement was prepared on [date when it was first published]. It was last reviewed on 1 June 2026.
        </p>

        <p class="govuk-body">
            This website was last tested on 1 June 2026. The test was carried out by accessibility specialists within the Department for Education.
        </p>

        <p class="govuk-body">
            A total of 17 pages were tested. Pages were selected based on common user journeys and to cover a range of components.
        </p>
    </div>
</div>