@using SFA.DAS.DigitalCertificates.Web.Controllers
@using SFA.DAS.DigitalCertificates.Web.ViewDataKeys
@{
    ViewData[ViewDataKeys.Title] = ViewData[ViewDataKeys.ServiceName] + " Check you’ve proved your identity";
    ViewBag.GaData.Vpv = @ViewData[ViewDataKeys.GaDataVpvPrefix] + "check";
}
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">@ViewData[ViewDataKeys.Title]</h1>

            <p class="govuk-body">
                We need to check if you’ve proved your identity with GOV.UK One Login to give you access to your certificates and keep them safe.
            </p>

            <p class="govuk-body">
                If you’ve already proved your identity, you can check your details on the next page.
            </p>

            <p class="govuk-body">
                To prove your identity GOV.UK will ask you some questions and you’ll need:
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-2 govuk-!-margin-top-0">
                    <li>your passport </li>
                    <li>your driving licence </li>
                    or
                    <li>an equivalent photo ID</li>
                </ul>
            </p>

            <p class="govuk-body">
                If you do not have photo ID, you can use your UK bank or building society details to prove your identity. You'll also be asked to provide your National Insurance number and answer some security questions.
            </p>

            <p class="govuk-body">
                You can learn more about <a rel="noreferrer noopener" target="_blank" href="https://www.sign-in.service.gov.uk/about/checking-users-identities/evidence-types">how users can prove their identity (opens in a new tab)</a>
            </p>


            <a asp-route="@HomeController.VerifiedRouteGet" class="govuk-button">
                Continue
            </a>
        </div>
    </div>
</main>