@using SFA.DAS.DigitalCertificates.Web.Controllers
@{
    ViewBag.Title = "Cookie settings";
    ViewBag.PageID = "page-cookie-settings";
    ViewBag.GaData.Vpv = "/page-cookie-settings";
}
<div class="das-cookie-settings">
    <div class="das-cookie-settings__inner-wrap" id="cookie-settings">
        <div class="das-notification das-notification--success das-cookie-settings__confirmation" data-cookie-confirmation="true">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Success
                </h2>
            </div>
            <section aria-live="polite">
                <h2 class="das-notification__heading">Your cookie settings were saved</h2>
                <p class="das-notification__body"><a class="govuk-link govuk-link--no-visited-state cookie-settings__prev-page" href="#" data-module="track-click">
                    Go back to the page you were looking at</a></p>
            </section>
        </div>
  
        <h1 class="govuk-heading-xl">Cookies</h1>

        <p>Cookies are small files saved on your phone, tablet or computer when you visit a website.</p>
        <p>We use cookies to make Find an apprenticeship work and collect information about how you use our service.</p>

        <h2 class="govuk-heading-m">Essential cookies</h2>
        <p class="govuk-body">
            Essential cookies are required for Find an apprenticeship to work. We do not need to ask permission to use
            them.
        </p>

        <table class="govuk-table govuk-table--small-text-until-tablet">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Name</th>
                    <th scope="col" class="govuk-table__header">Purpose</th>
                    <th scope="col" class="govuk-table__header">Expires</th>
                    <th scope="col" class="govuk-table__header">Server or client</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">DASSeenCookieMessage</td>
                    <td class="govuk-table__cell">
                        Saves that you’ve seen the cookies message, so we do not keep showing it to you
                    </td>
                    <td class="govuk-table__cell">1 year</td>
                    <td class="govuk-table__cell">Client</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">AnalyticsConsent</td>
                    <td class="govuk-table__cell">Saves whether you consent to the analytics cookies</td>
                    <td class="govuk-table__cell">1 year</td>
                    <td class="govuk-table__cell">Client</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">FunctionalConsent</td>
                    <td class="govuk-table__cell">Saves whether you consent to the functional cookies</td>
                    <td class="govuk-table__cell">1 year</td>
                    <td class="govuk-table__cell">Client</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">SFA.Apprenticeships.AuthCookie</td>
                    <td class="govuk-table__cell">Keeps you logged in while you're using the service</td>
                    <td class="govuk-table__cell">Session</td>
                    <td class="govuk-table__cell">Client</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">.AspNetCore.Antiforgery</td>
                    <td class="govuk-table__cell">Protects the service from bad requests</td>
                    <td class="govuk-table__cell">Session</td>
                    <td class="govuk-table__cell">Client</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">.AspNetCore.Session</td>
                    <td class="govuk-table__cell">This enables the website to function properly</td>
                    <td class="govuk-table__cell">Session</td>
                    <td class="govuk-table__cell">Client</td>
                </tr>
            </tbody>
        </table>

        <h2 class="govuk-heading-m">Analytics cookies (optional)</h2>
        <p class="govuk-body">
            With your permission, we use Google Analytics to collect data about how you use Find an
            apprenticeship. This information helps us to improve our service.
        </p>
        <p class="govuk-body">Google is not allowed to use or share our analytics data with anyone.</p>
        <p class="govuk-body">Google Analytics stores anonymised information about:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>how you got to Apprenticeship certificates</li>
            <li>the pages you visit on Apprenticeship certificates and how long you spend on them</li>
            <li>any errors you see while using Apprenticeship certificates</li>
        </ul>
        <table class="govuk-table govuk-table--small-text-until-tablet">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Name</th>
                    <th scope="col" class="govuk-table__header">Purpose</th>
                    <th scope="col" class="govuk-table__header">Expires</th>
                    <th scope="col" class="govuk-table__header">Server or client</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">_ga</td>
                    <td class="govuk-table__cell">
                        Checks if you've visited Apprenticeship certificates before. This helps us count
                        how many people have visited our site.
                    </td>
                    <td class="govuk-table__cell">2 years</td>
                    <td class="govuk-table__cell">Client</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">_gid</td>
                    <td class="govuk-table__cell">
                        Checks if you've visited Apprenticeship certificates before. This helps us count
                        how many people have visited our site.
                    </td>
                    <td class="govuk-table__cell">1 day</td>
                    <td class="govuk-table__cell">Client</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">_gat</td>
                    <td class="govuk-table__cell">Helps Google Analytics manage their traffic and requests.</td>
                    <td class="govuk-table__cell">1 minute</td>
                    <td class="govuk-table__cell">Client</td>
                </tr>
            </tbody>
        </table>

        <div class="das-js-show das-cookie-settings__form-wrapper">         
            <hr class="govuk-section-break govuk-section-break--l" />
            <form data-module="cookie-settings">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="hint-cookie-1">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Do you want to accept analytics cookies?</legend>                   
                        <div class="govuk-radios">
                            <div class="gem-c-radio govuk-radios__item">
                                <input type="radio" name="cookies-AnalyticsConsent" id="radio-cookie-analytics-0" value="on" class="govuk-radios__input">
                                <label for="radio-cookie-analytics-0" class="govuk-label govuk-radios__label">Yes</label>
                            </div>
                            <div class="gem-c-radio govuk-radios__item">
                                <input type="radio" name="cookies-AnalyticsConsent" id="radio-cookie-analytics-1" value="off" class="govuk-radios__input">
                                <label for="radio-cookie-analytics-1" class="govuk-label govuk-radios__label">No</label>
                            </div>
                        </div>
                    </fieldset>
                </div>          
                <hr class="govuk-section-break govuk-section-break--l" />
                <button class="govuk-button" type="submit">Save changes</button>
            </form>
        </div>
    </div>
</div>