@using SFA.DAS.DigitalCertificates.Web.Models.Sharing
@model PageViewModel

@await Html.PartialAsync("_BackLink", Model)

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            Get help with apprenticeship<br>
            certificates
        </h1>

        <p class="govuk-body">
            Contact us if you're having a problem with the service.
        </p>

        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
            Email
        </h2>

        <p class="govuk-body">
            <a class="govuk-link" href="mailto:helpdesk@manage-apprenticeships.service.gov.uk">
                helpdesk@manage-apprenticeships.service.gov.uk
            </a>
        </p>

        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
            Phone
        </h2>

        <p class="govuk-body">
            Phone: 0800 0150 600<br>
            Monday to Friday, 9am to 6pm<br>
            <a class="govuk-link" href="https://www.gov.uk/call-charges" title="Find out about call charges">
                Find out about call charges
            </a>
        </p>

    </div>
</div>
