@model string
@{
    ViewBag.Title = "Apprenticeship Certificates";
    Layout = "_Layout";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Apprenticeship Certificates - Signed in stub</h1>    
        <a class="govuk-button" href="@Model">Continue</a>
    </div>
</div>