@using SFA.DAS.DigitalCertificates.Web.Controllers
@using SFA.DAS.DigitalCertificates.Web.ViewDataKeys
@model SFA.DAS.DigitalCertificates.Web.Models.Authorise.KnowYourUlnViewModel
@{
    ViewData[ViewDataKeys.Title] = "Do you know your unique learner number?";
    ViewBag.GaData.Vpv = @ViewData[ViewDataKeys.GaDataVpvPrefix] + "do-you-know-your-unique-learner-number";
}

<div class="govuk-width-container">

    <a asp-route="@(Model?.IsReturningToCheck == true ? AuthoriseController.CheckAnswersRouteGet : AuthoriseController.NeedMoreInformationRouteGet)" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper" id="main-content">
        <partial name="_ValidationSummary" />

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <form asp-action="KnowYourUln" method="post">

                    <div class="govuk-form-group" das-highlight-error-for="KnowUln"
                         error-class="govuk-form-group--error">

                        <span class="govuk-caption-l">Matching your information</span>
                        
                        <fieldset class="govuk-fieldset" aria-describedby="KnowUln-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                <h1 class="govuk-fieldset__heading">Do you know your unique learner number?</h1>
                            </legend>

                            <div id="KnowUln-hint" class="govuk-hint">
                                Your unique learner number is 10 digits and made of only numbers.
                            </div>

                            <div class="govuk-radios" data-module="govuk-radios">
                                <p id="KnowUln-error" das-validation-for="KnowUln" class="govuk-error-message"></p>

                                <div class="govuk-radios__item">
                                    <input asp-for="KnowUln" id="KnowUln" class="govuk-radios__input" type="radio"
                                           value="true" data-aria-controls="conditional-KnowUln"
                                           aria-describedby="KnowUln-error" />
                                    <label class="govuk-label govuk-radios__label" for="KnowUln">Yes</label>
                                </div>

                                <div class="govuk-radios__conditional @(Model?.KnowUln == true ? "" : "govuk-radios__conditional--hidden")"
                                     id="conditional-KnowUln">
                                    <div class="govuk-form-group" das-highlight-error-for="Uln"
                                         error-class="govuk-form-group--error">
                                        <label class="govuk-label" for="Uln">Unique learner number</label>
                                        <p id="Uln-error" das-validation-for="Uln" class="govuk-error-message"></p>
                                        <input asp-for="Uln" data-default-value="@Model?.Uln"
                                              aria-describedby="Uln-error" class="govuk-input govuk-!-width-two-thirds"
                                              maxlength="10"
                                              inputmode="numeric"
                                              pattern="[0-9]*" />
                                    </div>
                                </div>

                                <div class="govuk-radios__item">
                                    <input asp-for="KnowUln" id="KnowUln-No" class="govuk-radios__input" type="radio"
                                           value="false" aria-describedby="KnowUln-error" />
                                    <label class="govuk-label govuk-radios__label" for="KnowUln-No">No</label>
                                </div>

                            </div>

                        </fieldset>

                    </div>

                    <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>

                </form>

            </div>
        </div>

    </main>

</div>
